<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="hr/manage/fragments/header :: headline">
        <meta charset="UTF-8">
        <title>Hr Managment Console</title>
    </th:block>
</head>
<body>
<div class="ui container">
    <div th:replace="hr/manage/fragments/header :: header"></div>
    <div class="ui segment">
        <div class="ui grid">
            <table class="ui celled table">
                <thead>
                <tr><th>ID</th>
                    <th>Title</th>
                    <th>Number of hire</th>
                    <th>Last Apply Date</th>
                    <th>Total Apply</th>
                    <th></th>
                </tr></thead>
                <tbody>
                <tr th:each="jobListing: ${jobListings}">
                    <td th:text="${jobListing.id}" data-label="Id">2</td>
                    <td th:text="${jobListing.title}" data-label="Title">Simple Title</td>
                    <td th:text="${jobListing.hireCount}"data-label="Number Of Hire">10</td>
                    <td th:text="${jobListing.lastApplication}" data-label="Last Application">2019/03/03</td>
                    <td th:text="${jobListing.totalApply}" data-label="Total Apply">100</td>
                    <td class="center aligned">
                        <a target="_blank" class="ui button" th:href="@{'/applicant/job/detail/'+${jobListing.id}}" >Preview</a>
                        <a class="ui button " href="#"
                           th:href="@{'/hr/manage/job-listing/editor/' + ${jobListing.id} }"
                        >Edit</a>
                        <a class="ui button primary" th:onclick="'javascript:onRemove(' + ${jobListing.id} + ')'">Remove</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function onRemove(id ){
        console.log(id);
        var config = confirm("Confirm to remove Job Listing?");
        if(config){
            window.location.replace("/hr/manage/job-listing/remove/"+id);

        }
    }
</script>
</body>
</html>