logging:
  level:
    ROOT: DEBUG
    com.dogukanhan.kodgemisi.simplehr: DEBUG
spring:
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 25MB
      max-request-size: 30MB
  profiles:
    active: dev
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
  datasource:
    url: jdbc:h2:mem:testdb:AZ;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username:
    password:
  h2:
      console:
        enabled: true
  jpa:
      database: H2
      show-sql: true
      properties:
        hibernate.id.new_generator_mappings: true
        hibernate.connection.provider_disables_autocommit: true
        hibernate.cache.use_second_level_cache: false
        hibernate.cache.use_query_cache: false
        hibernate.generate_statistics: true
      database-platform: org.hibernate.dialect.H2Dialect
  thymeleaf:
    cache: false
file:
  upload-dir: ./uploads
