<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="hr/manage/fragments/header :: headline">
        <meta charset="UTF-8">
        <title>Hr Managment Console</title>
    </th:block>
</head>
<body>
<div class="ui container">
    <div th:replace="hr/manage/fragments/header :: header"></div>
    <div class="ui segment">
        <div class="ui grid">


                    <td th:text="${jobApplication.name}  + ' '+ ${jobApplication.surname} " data-label="Name Surname">Simple Title</td>
                    <td th:text="${jobApplication.email}"data-label="Email">10</td>
                    <td th:text="${jobApplication.jobListing.title}" data-label="Job Listing">100</td>
                    <td class="center aligned">
                        <a target="_blank" class="ui button" th:href="@{'/hr/manage/application/detail/'+${jobApplication.id}}" >Detail</a>
                        <a class="ui button primary " href="#" target="_blank"
                           th:href="@{'/hr/manage/appllication/cv/' + ${jobApplication.resumeUrl} }"
                        >Preview Resume</a>
                    </td>

        </div>
    </div>
</div>
<script>
    function onRemove(id ){
        console.log(id);
        var config = confirm("Confirm to remove Job Listing?");
        if(config){
            window.location.replace("/hr/manage/job-listing/remove/"+id);

        }
    }
</script>
</body>
</html>