<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="hr/manage/fragments/header :: headline">
        <meta charset="UTF-8">
        <title>Hr Managment Console</title>
    </th:block>
</head>
<body>
<div class="ui container">
    <div th:replace="hr/manage/fragments/header :: header"></div>
    <div class="ui segment">
        <div class="ui grid">

                      <p th:text="${jobApplication.jobListing.title}" data-label="Job Listing">100</p>
                    <p th:text="${jobApplication.name}  + ' '+ ${jobApplication.surname} " data-label="Name Surname">Simple Title</p>
                    <p th:text="${jobApplication.email}"data-label="Email">10</p>
                    <p th:text="${jobApplication.thoughtsOnJob}"></p>
                    <p class="center aligned">
                        <a class="ui button primary " href="#" target="_blank"
                           th:href="@{'/hr/manage/appllication/cv/' + ${jobApplication.resumeUrl} }"
                        >Preview Resume</a>
                    </p>

        </div>
    </div>
</div>
<script>
    function onRemove(id ){
        console.log(id);
        var config = confirm("Confirm to remove Job Listing?");
        if(config){
            window.location.replace("/hr/manage/job-listing/remove/"+id);

        }
    }
</script>
</body>
</html>