<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="applicant/job/fragments/header :: headline">
        <meta charset="UTF-8">
        <title>Job Applicant</title>
    </th:block>

    <link rel="stylesheet" href="/css/semantic.min.css" th:href="@{/webjars/dropzone/dropzone.css}">
    <script th:src="@{/webjars/dropzone/dropzone.js}"></script>
</head>
<body>
<div class="ui container">
    <div class="job-container">
        <div th:replace="applicant/job/fragments/header :: header"></div>
        <div class="ui segment">
            <h1 class="ui header center aligned" th:text="${jobListing.title}"> Job</h1>
            <div class="ui segment">
                <h5 class="ui header right aligned" th:text="${'Last Application: ' + jobListing.lastApplication}"></h5>
                <h5 class="ui header right aligned" th:text="${jobListing.hireCount + ' people will be hired'}"></h5>
                <div class="ui segment center aligned">
                    <p th:text="${jobListing.description}"></p>
                </div>
            </div>
            <div class="ui segment center aligned" th:if="${complete}">
                <div class="ui success message">
                    <p>You have successfully applied!</p>
                    <p>We will be in touch with you.</p>
                </div>
            </div>
            <div th:unless="${complete}">
            <h2>Apply For This Job</h2>
            <div class="ui  segment">
                <div th:if="${error}">
                    <div class="ui negative message">
                        <div class="header">
                            Please check your given values.
                        </div>
                        <p th:text="${errorMessage}">That offer has expired
                        </p>
                    </div>
                    <br/>
                </div>
                <form action="/applicant/job/upload-cv/"
                      class="dropzone"
                      id="my-awesome-dropzone"></form>
                <p id="cvUploadText">Only doc,docx,pdf,txt,wps,odt,rtf,wpd extensions supported.</p>
                <br/>
                <form action="#" th:action="@{'#'}" th:object="${jobApplication}" method="post">
                    <div class="ui labeled input">
                        <div class="ui label">
                            Name
                        </div>
                        <input type="text" th:field="*{name}" required/>
                    </div>
                    <div class="ui labeled input">
                        <div class="ui label">
                            Surname
                        </div>
                        <input type="text" th:field="*{surname}" required/>
                    </div>
                    <br/><br/>
                    <div class="ui labeled input">
                        <div class="ui label">
                            Email
                        </div>
                        <input type="text" size="58" th:field="*{email}" required/>
                    </div>
                    <br/><br/>
                    <div class="ui labeled input">
                        <div class="ui label">
                            Adress
                        </div>
                        <textarea type="text" rows="5" cols="52" th:field="*{address}" required> </textarea>
                    </div>
                    <br/><br/>
                    <div class="ui labeled input">
                        <div class="ui label">
                            Thoughts On Job
                        </div>
                        <textarea type="text" rows="5" cols="45" th:field="*{thoughtsOnJob}" required> </textarea>
                    </div>
                    <br/><br/>
                    <input id="resumeUrlInput" type="text" th:field="*{resumeUrl}" hidden />
                    <input id="applyButton" class="ui button primary " type="submit" value="Apply" disabled/>
                </form>
            </div>

            <script>
                $(document).ready(function(){
                    var resumeUrl = $("#resumeUrlInput").val();
                    if(resumeUrl){
                        $("#my-awesome-dropzone").hide();
                        document.getElementById("applyButton").disabled = false
                        $("#cvUploadText").html("You have already uploaded an resume");

                    }
                });
                var onUplaodFunc = function(v1){
                    document.getElementById("resumeUrlInput").value = v1.xhr.response;
                    document.getElementById("applyButton").disabled = false
''                };

                Dropzone.options.myAwesomeDropzone = {
                    dictDefaultMessage: ' Upload your resume here.',
                    paramName: "file", // The name that will be used to transfer the file
                    maxFilesize: 25, // MB
                    acceptedFiles: ".doc,.docx,.pdf,.txt,.wps,.odt,.rtf,.wpd",
                    maxFiles:1,
                    init: function () {
                        this.on("complete", function (file) {
                            if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                                onUplaodFunc(file);
                            }
                        });
                    }
                };
            </script>
        </div>
        </div>
    </div>
</div>
</body>
</html>