<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="applicant/job/fragments/header :: headline">
        <meta charset="UTF-8">
        <title>Job Applicant</title>
    </th:block>
</head>
<body>
<div class="ui container">
    <div class="job-container">
        <div th:replace="applicant/job/fragments/header :: header"></div>

        <div class="ui segment">
        <div class="ui cards">
            <div th:each="jobListing : ${jobListings}" class="card">
                <div class="content">
                    <div class="header">
                        <p th:text="*{jobListing.title}"> </p>
                    </div>
                    <div class="meta">
                        <p th:text="${jobListing.hireCount + ' person will be hired.'}"></p> <p> </p>
                    </div>
                    <div class="description">
                        Last Application <b th:text="${jobListing.lastApplication}"></b>
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">

                        <a th:href="@{'/applicant/job/detail/' + ${jobListing.id} }" class="ui basic green button">
                                Detail | Apply
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>